attrs
autopep8
click
decorator
flasgger
Flask
Flask-JWT-Extended
Flask-SQLAlchemy
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
jsonschema
MarkupSafe
mistune
pycodestyle
PyJWT
PyMySQL
pyrsistent
python-dotenv
PyYAML
six
SQLAlchemy
toml
typing-extensions
validators
Werkzeug
zipp
uwsgi
psycopg2
